/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

html.dark {
    /* THIS SWITCHES THE DATE PICKER TO THE DEFINED DARKER COLORS */
    --date-picker-background: rgb(var(--color-surface-900));
    --date-picker-foreground: rgba(var(--theme-font-color-dark));
}
